body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 30px;
}

h2, h3, h4 {
    font-size: 10px;
}


.contact input[type="text"] {
    width: 30%;
    border-top: 1px solid #090B0D;
    border-right: 2px solid #090B0D;
    border-bottom: 2px solid #090B0D;
    border-left: 1px solid #090B0D;
    margin: 10px 1em;
    border-radius: 7px;
    background:  #b5b67b;
}




